h1 {
  color: #fff;
}

.user_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 80%;
  max-width: 1000px;
  gap: 10px;
  margin: 0 auto;
}

.user_item {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #222;
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s;

  &:hover {
    transform: scale(1.02);
    border-left: 10px solid rgba(197, 25, 25, 0.5);
    border-right: 10px solid rgba(197, 25, 25, 0.5);
  }
}

.user_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  padding: 20px 20px;
  flex-wrap: wrap;

  &_name {
    color: #ff5d5d;
  }

  &_username {
    color: #5dff60;
  }

  &_email {
    color: #5d96ff;
  }
}

.reset_button {
  cursor: pointer;
  background: transparent;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s;
  color: #fff;
  font-size: 20px;
  min-width: 40px;
  padding: 10px 10px;

  &:hover:hover {
    cursor: pointer;
    background: #ff5d5d;
    border: 1px solid #ff5d5d;
    transform: scale(1.05);
  }
}

.del_button {
  cursor: pointer;
  background: transparent;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s;
  color: #fff;
  font-size: 20px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  margin: 10px;

  &:hover:hover {
    cursor: pointer;
    background: #ff5d5d;
    border: 1px solid #ff5d5d;
  }
}

@media (max-width: 400px) {
  .user_item {
    flex-wrap: wrap;
    justify-content: center;
  }
}