* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .3px;
}

body {
  background-color: #09090b;
  opacity: 1;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #1a1a22 0, #1a1a22 1px, #09090b 0, #09090b 50%);
}